<navigation class="footer" [location]="'FOOTER'"></navigation>
<div class="legal">
  <span>Administrator: NineSun Development im&nbsp;Auftrag&nbsp;des&nbsp;Vereins Begleitung&nbsp;von&nbsp;Menschen&nbsp;e.V.</span><br>
  <span>Copyright &copy; 2018</span><br>
  <span>Verwendete Technik: <a [routerLink]="'/credits'">Credits</a></span><br>
  <span>Version: <a class="invisible" target="_blank" href="http://www.begleitung-von-menschen.org/load-new-scripts.php/">v{{version.version.major}}.{{version.version.minor}}.{{version.version.patch}}</a></span>
</div>
