@import '../../../stylesheets/generics/includables';

:host {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    grid-template-areas: '...' 'section-content' 'section-footer';
    scroll-behavior: smooth;
}

.blocker {
    transition: 1s;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $c-light;
    opacity: 0;
    animation-name: blocker-fade-out;
    animation-duration: .6s;
    z-index: 2;

    @keyframes blocker-fade-out {
        from { opacity: 1; }
        to { opacity: 0; }
    }
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    opacity: .9;
    transition: .3s;

    &:hover {
        opacity: 1;
    }

}

sidebar {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 0;
    z-index: 5;

    &.visible {
        height: calc(100% - 50px);

        & + header {
            opacity: 1;
        }
    }
}

.content {
    margin: 0;
    padding: 0;
    grid-area: section-content;
    background-color: $c-light;
}

footer {
    grid-area: section-footer;
    width: 100%;
}

