<div *ngIf="blockerIsVisible" class="blocker"></div>
<a name="anchor-top"></a>

<sidebar [ngClass]="{'visible': sidebarVisible}"></sidebar>
<header></header>

<div class="content">
  <router-outlet></router-outlet>
</div>
<footer></footer>
