@import '../../../stylesheets/generics/includables';

:host {
    display: grid;
    grid-template-columns: 50px 400px 1fr;
    grid-template-areas: "header-logo header-heading header-navigation";
    background-color: $c-dark;
    box-shadow: 0 0 25px 0 $c-dark;
    height: 50px;
    cursor: default;
    user-select: none;
    z-index: 10;
}

@include min-medium {
    :host {
        grid-template-columns: 70px 1fr 50px;
        grid-template-areas: "header-logo header-heading header-sidebar-puller";
    }
}

.header__logo {
    grid-area: header-logo;
}

.header__heading {
    grid-area: header-heading;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: $c-green;
    transition: .3s;
    padding: 5px;
    margin: 0;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    hyphens: none;
}

.btn.dark,
button.dark {
    background-color: transparent !important;

    &.active {
        color: $c-green !important;
    }
}

navigation {
    grid-area: header-navigation;
    height: 50px;
    text-align: left;

    @include min-medium {
        display: none;
    }
}

.header__sidebar-puller {
    grid-area: header-sidebar-puller;
    display: none;

    &:active {
        background-color: $c-dark;
    }

    @include min-medium {
        display: inline;
        text-align: right;

        button {
            width: 50px;
            height: 100%;
        }
    }
}

