<div class="header__logo">

</div>

<h1 class="header__heading">Begleitung von Menschen e.V.</h1>

<navigation [location]="'HEADER'"></navigation>

<div class="header__sidebar-puller">
  <button class="dark" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="{'fa-bars': !sidebarVisible, 'fa-times': sidebarVisible}"></i>
  </button>
</div>
