<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-003.jpeg'"
        [bttButton]="false">
  <h2>Kontakt</h2>
</page-section>

<page-section [bttButton]="false">
  <h4>Begleitung von Menschen e.V.</h4>
  <span>Freimannstraße 12</span>
  <span>83395 Freilassing</span>
  <span>Tel.: (+49) 8654 / 49 44 31</span>
  <span>E-Mail: <a href="mailto:verein@bvm-bgl.de" target="_blank">verein@bvm-bgl.de</a></span>
  <span>Website:&nbsp;<a href="https://www.belgeitung-menschen.org/"
                         rel="nofollow">www.belgeitung-menschen.org</a></span>
  <span>Website (kurz):&nbsp;<a href="https://www.bvm-bgl.de/"
                                rel="nofollow">www.bvm-bgl.de</a></span>

  <br>

  <h4>Administrator der Website</h4>
  <span>NineSun Development</span>
  <span>Ungererstrasse 33</span>
  <span>80805 München</span>
  <span>Website:&nbsp;<a href="https://www.ninesun.de/"
                         rel="nofollow">www.ninesun.de</a></span>

  <br>

  <h4>1. Vorsitz</h4>
  <span>Heike Sänger</span>
  <span>Freimannstraße 12</span>
  <span>83395 Freilassing</span>

  <br>

  <h4>Begleitung von Menschen e.V.</h4>
  <span>Freimannstraße 12</span>
  <span>83395 Freilassing</span>

  <br>

  <span>Vereinsregisternummer: 20774</span>
  <span>Zuständiges Vereinsregisteramt:</span>
  <span>Amtsgericht Traunstein</span>
  <span>Herzog-Otto-Straße 1</span>
  <span>83278 Traunstein</span>
</page-section>
