<section class="page-header">
  <div class="page-header__container">
    <i class="far fa-question-circle-which-does-not-exist fa-10x"></i>
    <h1>404</h1>
    <h2>The requested site does not exist.</h2>
  </div>
</section>

<section class="link__container">
  <a (click)="goBack()" target="_blank" class="btn big dark outline">Zurück</a>
</section>
