<br>
<h2>Bilder</h2>
<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-001.jpeg'"
        [bttButton]="false">
</page-section>
<page-section [bttButton]="false"><p> Photo by Matthias Zomer from Pexels </p></page-section>
<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-002.jpeg'"
        [bttButton]="false">
</page-section>
<page-section [bttButton]="false"><p> Photo by rawpixel.com from Pexels </p></page-section>
<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-003.jpeg'"
        [bttButton]="false">
</page-section>
<page-section [bttButton]="false"><p> Photo by David Sun from Pexels </p></page-section>
<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-004.jpeg'"
        [bttButton]="false">
</page-section>
<page-section [bttButton]="false"><p> Photo by rawpixel.com from Pexels </p></page-section>

<page-section [bttButton]="false">
    <h2>Verwendete Technologien</h2>
    <div class="container">
        <a *ngFor="let dep of getDeps()" class="btn light" href="https://www.npmjs.com/package/{{dep.name}}"
           target="_blank">{{dep.name}}</a>
    </div>
</page-section>
