@import '../../../stylesheets/generics/includables';

:host {
    text-align: center;
}

.container {
    width: calc(100% - 20px);
    padding: 10px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-row-gap: 2px;
    grid-column-gap: 2px;

    a {
        line-height: 50px;
            letter-spacing: 0.5px;
    }
}

@include min-medium {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include medium-large {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include large-max {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}
