<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-001.jpeg'"
        [bttButton]="false">
    <h2>mehr als nur Pflege</h2>
</page-section>


<page-section [bttButton]="false">
    <br><br><br>
    <p>Wir sind ein Team von professionellen Pflegekräften, das es sich zur Aufgabe gemacht hat
        Senioren und Behinderte nach Bedarf und Situation zu betreuen sie im Alltagzu unterszützen
        und ihnen so ein selbstständiges Leben im eigenen Zuhause zu ermöglichen - egal ob im Alter,
        bei Krankheit, nach einem Unfall oder einer Operation.</p>
    <br><br><br>
</page-section>

<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-002.jpeg'"
        [bttButton]="false">
    <h2>Leistungnen</h2>
</page-section>

<page-section [bttButton]="false">
    <ul>
        <li>Betreuung und Pflege bei Ihnen zu Hausen durch geschultes Personal auch für Demenz und an Alzheimer Erkrankte</li>
        <li>Körperpflege, Mobilisation</li>
        <li>Ausführung medizinischer Leistungen</li>
        <li>Einkaufshilfe</li>
        <li>Hilfe zur Haushaltsführung</li>
        <li>Krankenhausnachsorge</li>
        <li>Nachtbereitschaft</li>
        <li>Entlastung der Angehörigen und Verhinderungspflege</li>
        <li>Hilfe bei Behördengängen</li>
        <li>Begleitung zu Ärzten und medizinischen Behandlungen</li>
        <li>Informationen rund um die Pflege</li>
    </ul>

    <ul>
        <li>Hilfe bei Reperaturen im Haushalt</li>
        <li>Hilfe bei Gartenarbeit und -pflege</li>
        <li>Hausnotruf oder Mittagessen durch die Malteser</li>
    </ul>
    <br><br>
    <p>Wir bieten Ihnen über 13 Jahre Erfahrung, freundliche Pfleger die Ihnen durch den Alltag helfen und auch
    mit Rat zu Seite stehen.</p>
    <p>Wir sind ebenfalls Mitglied im Paritätischen Wohlfahrtsverband.</p>
</page-section>

<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-003.jpeg'"
        [bttButton]="false">
    <h2>Kontakt</h2>
</page-section>

<page-section [bttButton]="false">
    <span>Tel. & Fax: (+49) 8654 / 49 44 31</span><br>
    <span>Mobil: +49 170 55 60 864</span><br>
    <span>E-Mail: <a href="mailto:verein@bvm-bgl.de" target="_blank">verein@bvm-bgl.de</a></span>
    <span>Website:&nbsp;<a href="https://www.belgeitung-menschen.org/"
                           rel="nofollow">www.belgeitung-menschen.org</a></span>
    <span>Website (kurz):&nbsp;<a href="https://www.bvm-bgl.de/"
                                  rel="nofollow">www.bvm-bgl.de</a></span><br>

    <p>Oder einfach im persönlichen Gespräch</p><br>

    <span>H. Sänger  - Freiberufliche Krankenschwester - </span><br>
    <span>Freimannstraße 12</span><br>
    <span>83395 Freilassing</span><br>
</page-section>


<page-section
        [parallax]="true"
        [parallaxImage]="'/assets/img/banner-004.jpeg'"
        [bttButton]="false">
    <h2>Spenden</h2>
</page-section>

<page-section [bttButton]="false">
    <p>Als gemeinnütziger Verein sind wir auf Ihre Spenden angewiesen</p>
    <p>Wenn Sie uns unterstützen möchten, dann können Sie das an die folgende Bankverbindung:</p>
    <p>IBAN: DE66 7109 0000 0002 6624 69</p>
    <p>BIC: GENODEF1BGL</p>
    <p>VOBO Freilassing</p>
    <br>
    <p>Alle Spenden sind steuerlich absetzbar und ab einer Summe von 50,00 € stellen wir Ihnen
    gerne auch eine Spendenquittung aus.</p>
</page-section>
