::ng-deep .container {
    padding: 10px 20px;
    width: calc(100% - 40px);

    p {
        padding: 0!important;
        width: 100%;
        margin-top: 5px;
        text-align: justify;
    }

    .align-center {
        p {
            text-align: center;
        }
    }

    ul {
        list-style: none;
    }
}
