@import '../../../stylesheets/generics/includables';

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &.HEADER {
        grid-template-columns: repeat(auto-fill, 33%);
    }


    &.SIDEBAR {
        display: inline-block;

        button {
            background-color: $c-dark-hover;
            height: 40px;

            &.active {
                background-color: $c-dark;
            }
        }
    }

    &.FOOTER {
        display: inline-block;
        height: calc(100% - 40px);
        padding: 20px;

        button {
            height: 20px;

            &:hover,
            &.active {
                background-color: $c-dark;
            }
        }
    }
}

.navigation__buttons {
    height: 50px;
    text-align: left;
}

button {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
