<div class="wrapper" [ngClass]="location">
    <ng-container *ngIf="location != 'FOOTER'">
        <button routerLink="/home"
                class="btn"
                [ngClass]="buttonClass"
                [routerLinkActive]="'active'">Start
        </button>
        <button routerLink="/about"
                class="btn"
                [ngClass]="buttonClass"
                [routerLinkActive]="'active'">Über uns
        </button>
        <button routerLink="/contact"
                class="btn"
                [ngClass]="buttonClass"
                [routerLinkActive]="'active'">Kontakt
        </button>
    </ng-container>

    <ng-container *ngIf="location == 'FOOTER'">
        <button routerLink="/about"
                class="btn"
                [ngClass]="buttonClass"
                [routerLinkActive]="'active'">Über uns
        </button>
        <button routerLink="/imprint"
                class="btn"
                [ngClass]="buttonClass"
                [routerLinkActive]="'active'">Impressum
        </button>
    </ng-container>
</div>
